@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    /* background-colors */
    --primary-bg-color: rgb(14, 18, 24);
    --secondary-bg-color: rgb(22, 35, 54);
    --overlay-bg-color: rgb(22, 35, 54, 0.7);

    /* text-colors */
    --primary-color: rgb(77, 181, 255);
    --primary-color-variant: hsl(205, 92%, 38%);
    --light-color: rgb(255, 255, 255, 0.6);
    --light-color-variant : rgb(255, 255, 255, 0.825);
    --white: rgba(255, 255, 255);

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

    --transition: all .4s ease;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.5rem;
    
}

::-webkit-scrollbar-track {
    background: var(--overlay-bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color-variant);
    transition: var(--transition);
    border-radius: 5px;
    max-height: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--primary-color)
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--light-color-variant);
    line-height: 1.7;
}

.no-scroll {
    overflow: hidden;
}

/* ================== GENERAL STYLES =============== */
.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
    color: var(--white);
}

h3 {
    font-size: 1.5rem;
}

section {
    padding-top: 10rem;
}

section > h2, section > h5 {
    text-align: center;
    color: var(--light-color);
}

section > h2 {
    color: var(--primary-color);
    margin-bottom: 4rem;
    font-size: 2rem;
}

.text-light {
    color: var(--light-color);
}

.text-primary {
    color: var(--primary-color-variant);
}

a {
    color: var(--white-color);
    transition: var(--transition);
}

a:hover {
    color: var(--primary-color-variant);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--white-color);
    padding: 0.75rem 1.2rem;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    transition: var(--transition);
}

.btn:hover {
    color: var(--white-color);
    background-color: var(--primary-color-variant);
    border-color: var(--primary-color-variant);
}

.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}


/* ================== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        padding-top: 6rem;
    }

    section,
    .container {
        overflow: hidden;
    }

}
/* ================== MEDIA QUERIES (Tablet DEVICES) =============== */
@media screen and (max-width: 800px) {
    ::-webkit-scrollbar {
        display: none;
    }
}
/* ================== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    section > h2 {
        margin-bottom: 2rem;
    }
}
